<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <!-- Подключаем стили -->
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <p class="title">Регистрация</p>
            <form class="form" action="/register" method="POST">
                <div class="input-group">
                    <label for="username">Имя пользователя</label>
                    <input type="text" name="username" id="username" placeholder="" required>
                </div>
                <div class="input-group">
                    <label for="password">Пароль</label>
                    <input type="password" name="password" id="password" placeholder="" required>
                </div>
                <div class="input-group">
                    <label for="first_name">Имя</label>
                    <input type="text" name="first_name" id="first_name" placeholder="" required>
                </div>
                <div class="input-group">
                    <label for="last_name">Фамилия</label>
                    <input type="text" name="last_name" id="last_name" placeholder="" required>
                </div>
                <div class="input-group">
                    <label for="phone">Номер телефона</label>
                    <input type="tel" name="phone" id="phone" placeholder="" required>
                </div>
                <div class="input-group">
                    <label for="email">Электронная почта</label>
                    <input type="email" name="email" id="email" placeholder="" required>
                </div>
                <button class="sign" type="submit">Зарегистрироваться</button>
            </form>
            <p class="signup">Уже есть аккаунт?
                <a href="/login" class="">Войти</a>
            </p>
        </div>
    </div>
</body>
</html>
